# .aliases - because my alias collection is way outta control


case `uname -s` in
    Linux)
        alias ls="ls -G --color=auto"
        alias ll="ls -l --color=auto"
        alias emacs="emacs -nw"
        alias tem="emacs -nw -q -l $HOME/.emacstiny"
        ;;
    Darwin)
        alias ls="ls -G"
        alias ll="ls -l"
        alias 'top'='top -o cpu'
        alias 'tem'="emacs -nw -q -l $HOME/.emacstiny"

        # 2023-08-01: Turning this off. It was a good hack when there
        # were all these CLI tools ignoring $EDITOR and launching vim
        # at me. The last few times, however, I have genuinely wanted
        # vim, and this "help" just felt like an overly cute and
        # annoying nanny.
        # alias 'vim'='echo -e "\033[30;105m WELCOME TO DAVELAND, USE \\\\vim TO RUN THE REAL vim \033[0m"; sleep 1; tem'
        ;;
    *)
        echo '~/.aliases cannot set ls/ll options: I have no clue what OS this is. :-('
        ;;
esac

# Technically this lets you write a line of syntactically invalid bash,
# e.g. 'program1 && program2 && singstatus' looks like it should short-circuit
# all the way out if program1 or program2 fails, but singstatus conceals a "||
# singfail" so it WILL capture the tail end of the short-circuit. This also
# means this alias does not play well with things that chain after it.
#
# Just be aware there is (black) magic here.
alias 'singstatus'='singpass || singfail'
# raveX works like singX but also triggers the ci status light
alias 'ravestatus'='ravepass || ravefail'

# This requires exit-with-status somewhere in the executable path, the entire
# body of which should be "exit $1" (after the obligatory shebang). In my ~/bin
# repo, there is a version of exit-with-status with a LOT of comments explaining
# that this alias is also necessary.
alias 'redostatus'='exit-with-status $?'

alias 't'='tree -ChL 1'
alias 'up'='cd ..'
alias 'up2'='cd ../..'
alias 'up3'='cd ../../..'
alias 'up4'='cd ../../../..'

# I always forget to set -table with sqlite3
alias 'sql3'="echo -e '\033[36msqlite3 -table\033[0m'; sqlite3 -table"

alias 'cdpy'='echo "cd ~/devel/scrapbin/python" && cd ~/devel/scrapbin/python'

# docker
alias 'dc'=`which docker-compose`

function bexbe() {
    echo '██████╗ ███████╗██╗  ██╗         ██╗      ██████╗ ███████╗'
    echo '██╔══██╗██╔════╝╚██╗██╔╝         ╚██╗     ██╔══██╗██╔════╝'
    echo '██████╔╝█████╗   ╚███╔╝     █████╗╚██╗    ██████╔╝█████╗  '
    echo '██╔══██╗██╔══╝   ██╔██╗     ╚════╝██╔╝    ██╔══██╗██╔══╝  '
    echo '██████╔╝███████╗██╔╝ ██╗         ██╔╝     ██████╔╝███████╗'
    echo '╚═════╝ ╚══════╝╚═╝  ╚═╝         ╚═╝      ╚═════╝ ╚══════╝'
    echo GET OUT OF THE HABIT OF USING THIS, DAVE--YOU WANT "be" INSTEAD
}

# Programming crap

alias be='bundle exec'
alias bex='bexbe'


## Misc Programming

## Git
alias gpom="echo 'git push origin master' && git push origin master"
# for DJ ;-)
alias gs="echo 'git status' && git status"
alias gst="echo 'git status' && git status"
alias gws="echo 'git commit -m whitespace' && git commit -m whitespace"
alias gca="echo 'git commit -a' && git commit -a"
alias gsb="git branch | cut -c 3- | selecta | xargs git checkout"

# From therubymug via tcaruso - Pick and choose what you want to add.  This
# stages all new files as empty entries so they still show up in git diff, then
# it does a --patch add to stage things in hunks. Run `git help add` for more
# details.
#
# BEWARE: The -N will add all new files found so if you're like me and in the
# habit of littering the repo with temporary scripts and test data, this alias
# is not your friend. I'm keeping it because it's worth its weight in gold just
# for reminding me that git add -p is a thing
alias gnap="git add -N . && git add -p"

# Open Finder on Linux
alias 'xo'='xdg-open .'

# how big is this terminal?
# Can also run ~/bin/xy which checks the tty stuff
alias 'xy'='echo ${COLUMNS}x${LINES}'

# what's up with my dns?!?
alias 'mydns'='cat /etc/resolv.conf | grep -vE "^#"'

# 2015-08-29 dbrady: I'm removing this because it was highly specific to our LMP
# workflow, and a) I no longer use it and b) that workflow has faded into the
# mists of time as something we used to think was a best practice but now
# abhor. The fact that I wrapped all this workflow mess into a single alias
# (supported by an all_specs.sh script) is so nasty it's almost beautiful. I'm
# leaving it here as a LOL/cringe at the antics I used to get up to with bash
# and git. Hey, it's my .aliases file, I can blog here if I want.
#
# Note that to work, this requires an ./all_specs.sh script.
#
# alias hop_master_push='export TMP_CURRBRANCH=$(git-currentbranch) && git checkout master && echo "Hopping to master to merge, test and push..." && git merge $TMP_CURRBRANCH && echo "Pulling master from origin..." && git pull origin master && git merge origin/master && echo "Running all specs..." && ./all_specs.sh && echo "Pushing changes..." && git push origin master && echo "Hopping back to $TMP_CURRENTBRANCH" && git checkout $TMP_CURRBRANCH && export $TMP_CURRBRANCH='

# this is funny to me because I am 12
alias clod=claude
